*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
}
.box-1 {
    height: auto;
    width: 100%;
    background-image: url(/img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: aliceblue;
}
.link {
    padding: 0 0 2em 0;
}
.name {
    display: block;
    padding: 3.5rem 0 0 0;
}
.intro {
    display: block;
    text-align: center;
    text-justify: auto;
    padding: 4rem;
    line-height: 2rem;
}
button {
    width: 120px;
    height: 50px;
    background-color: #333333;
    border: 1px solid #555555;
    color: #ffffff;
    font-size: 1rem;
}
.experience {
    width: auto;
    height: auto;
    background-color: #eaeaea;
    padding: 3rem;
    font-weight: 100;
}
.expertise {
    display: block;
    text-align: center;
    text-justify: auto;
    padding: 2rem;
    line-height: 2.2rem;
}
.skills-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
}

#programming {
    width: 300px;
    height: auto;
    background-color: #ffffff;
}
#systems {
    padding-top: 30px;
}
#system-paragraph {
    padding: 30px 30px 0px 30px;
}
#libs {
    width: 300px;
    height: auto;
    background-color: #ffffff;
}
#skills {
    padding-top: 30px;
}
#skills-paragraph {
    padding: 30px 30px 0px 30px;
}
#computer {
    width: 300px;
    height: auto;
    background-color: #ffffff;
}
#programs {
    padding-top: 30px;
}
#programs-paragraph {
    padding: 30px 30px 0px 30px;
}
.personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact-info {
    margin: auto;
    margin-top: 0px;
    width: auto;
    height: auto;
}
#employers {
    width: auto;
    height: auto;
    background-color: #2690d4;
    color: #ffffff;
    padding: 30px 40px;
}
#digiflex {
    padding: 30px 0 0 0;
    font-weight: 200;
}
#retografica {
    font-size: 1rem;
    padding: 10px 0 0 0;
    font-weight: 200;
}
.personal-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact {
    height: auto;
    background-color: #ffffff;
    color: #000000;
    padding: 30px 40px;
}
#phone {
    padding: 30px 0 0 0;
    font-weight: 200;
}
#email {
    font-size: 1rem;
    padding: 10px 0 0 0;
    font-weight: 200;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: auto;
    color: #ffffff;
    margin: 5em 0;
}
#social-media {
    font-size: 2em;
    padding: 0 2em 0 2em;
}

img{
    width:100%;
}
@media screen and (max-width: 768px) {
    .skills-section {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em; 
}
@media screen and (max-width: 500px) {
    .skills-section {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        justify-content: center; 
    }
    .personal-info {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}